@{
    Layout = null;
}
<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">
            {{Action}} Equipo
        </h3>
    </div>
    <div class="form-group">
        <div class="form-group">
            <div class="col-md-6">
                <label>
                    Id
                </label>
                <input type="text" class="form-control" disabled="disabled" ng-model="Id" />
            </div>
            <div class="col-md-6">
                <label>
                    Nombre
                </label>
                <input type="text" class="form-control" placeholder="Nombre" ng-model="Nombre">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-6">
                <label>
                    Apodo
                </label>
                <input type="text" class="form-control" placeholder="Apodo" ng-model="Apodo">
            </div>
            <div class="col-md-6">
                <label>
                    Presidente
                </label>
                <input type="text" class="form-control" placeholder="Presidente" ng-model="Presidente">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-6">
                <label>
                    Entrenador
                </label>
                <input type="text" class="form-control" placeholder="Entrenador" ng-model="Entrenador">
            </div>
            <div class="col-md-6">
                <label>
                    Estadio
                </label>
                <input type="text" class="form-control" placeholder="Estadio" ng-model="Estadio">
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="box-footer">
        <input type="button" class="btn btn-primary" value="Guardar" ng-click="AddUpdateEquipo()" />
        <input type="button" class="btn btn-primary" value="Cancelar" ng-click="CancelAddEquipoDiv()" />
    </div>
</div>
