<script src="@Url.Content("~/AngularJs/Equipo/Service.js")"></script>
<script src="@Url.Content("~/AngularJs/Equipo/Controller.js")"></script>
<div ng-app="equipo">
    <div ng-controller="equipocontroller">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <div ng-hide="showAddUpdate" class="box">
            <div class="box-header">
                <h3 class="box-title">
                    Lista de Equipos
                </h3>
                <div class="col-xs-2">
                    <button class="btn btn-block btn-primary" ng-click="AddEquipoDiv()">
                        Agregar Equipo
                    </button>
                    <br />
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table class="table">
                    <tr>
                        <th>
                            <b>Id Equipo</b>
                        </th>
                        <th>
                            <b>Nombre</b>
                        </th>
                        <th>
                            <b>Apodo</b>
                        </th>
                        <th>
                            <b>Presidente</b>
                        </th>
                        <th>
                            <b>Entrenador</b>
                        </th>
                        <th>
                            <b>Estadio</b>
                        </th>
                        <th style="width: 100px">
                        </th>
                        <th style="width: 100px">
                        </th>
                    </tr>
                    <tr ng-repeat="Equipo in Equipos">
                        <td>
                            {{Equipo.Id}}
                        </td>
                        <td>
                            {{Equipo.Nombre}}
                        </td>
                        <td>
                            {{Equipo.Apodo}}
                        </td>
                        <td>
                            {{Equipo.Presidente}}
                        </td>
                        <td>
                            {{Equipo.Entrenador}}
                        </td>
                        <td>
                            {{Equipo.Estadio}}
                        </td>
                        <td>
                            <button class="btn btn-block btn-primary" ng-click="editEquipo(Equipo)">
                                Editar
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-block btn-danger" ng-click="deleteEquipo(Equipo)">
                                Eliminar
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
            <!-- /.box-body -->
        </div>

        <div ng-include="'Equipo/CreateEdit'" ng-show="showAddUpdate"></div>

        @*<addupdate-equipo ng-show="showAddUpdate"></addupdate-equipo>*@
    </div>

</div>
