<script src="@Url.Content("~/AngularJs/Equipo/Service.js")"></script>
<script src="@Url.Content("~/AngularJs/Equipo/Controller.js")"></script>
<div ng-app="equipo">
    <div ng-controller="equipocontroller">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <div ng-hide="showAddUpdate" class="box">
            <div class="box-header">
                <h3 class="box-title">
                    Lista de Equipos
                </h3>
                <div class="col-xs-2">
                    <button class="btn btn-block btn-primary" ng-click="AddEquipoDiv()">
                        Agregar Equipo
                    </button>
                    <br />
                </div>
            </div>
            <div class="box-body">
                <table class="table">
                    <tr>
                        <th>
                            <b>Id Equipo</b>
                        </th>
                        <th>
                            <b>Nombre</b>
                        </th>
                        <th>
                            <b>Apodo</b>
                        </th>
                        <th>
                            <b>Presidente</b>
                        </th>
                        <th>
                            <b>Entrenador</b>
                        </th>
                        <th>
                            <b>Estadio</b>
                        </th>
                        <th style="width: 100px">
                        </th>
                        <th style="width: 100px">
                        </th>
                    </tr>
                    <tr ng-repeat="Equipo in Equipos">
                        <td>
                            {{Equipo.Id}}
                        </td>
                        <td>
                            {{Equipo.Nombre}}
                        </td>
                        <td>
                            {{Equipo.Apodo}}
                        </td>
                        <td>
                            {{Equipo.Presidente}}
                        </td>
                        <td>
                            {{Equipo.Entrenador}}
                        </td>
                        <td>
                            {{Equipo.Estadio}}
                        </td>
                        <td>
                            <button class="btn btn-block btn-primary" ng-click="editEquipo(Equipo)">
                                Editar
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-block btn-danger" ng-click="deleteEquipo(Equipo)">
                                Eliminar
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div ng-show="showAddUpdate">

            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        {{Action}} Equipo
                    </h3>
                </div>
                <div class="form-group">
                    <div class="form-group">
                        <div class="col-md-6">
                            <label>
                                Id
                            </label>
                            <input type="text" class="form-control" disabled="disabled" ng-model="Id" />
                        </div>
                        <div class="col-md-6">
                            <label>
                                Nombre
                            </label>
                            <input type="text" class="form-control" placeholder="Nombre" ng-model="Nombre">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <label>
                                Apodo
                            </label>
                            <input type="text" class="form-control" placeholder="Apodo" ng-model="Apodo">
                        </div>
                        <div class="col-md-6">
                            <label>
                                Presidente
                            </label>
                            <input type="text" class="form-control" placeholder="Presidente" ng-model="Presidente">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            <label>
                                Entrenador
                            </label>
                            <input type="text" class="form-control" placeholder="Entrenador" ng-model="Entrenador">
                        </div>
                        <div class="col-md-6">
                            <label>
                                Estadio
                            </label>
                            <input type="text" class="form-control" placeholder="Estadio" ng-model="Estadio">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="box-footer">
                    <input type="button" class="btn btn-primary" value="Guardar" ng-click="AddUpdateEquipo()" />
                    <input type="button" class="btn btn-primary" value="Cancelar" ng-click="CancelAddEquipoDiv()" />
                </div>
            </div>

        </div>
    </div>
</div>
