<script src="@Url.Content("~/AngularJs/Jugador/Service.js")"></script>
<script src="@Url.Content("~/AngularJs/Jugador/Controller.js")"></script>
<div ng-app="jugador">
    <div ng-controller="jugadorcontroller">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <div ng-hide="showAddUpdate" class="box">
            <div class="box-header">
                <h3 class="box-title">
                    Lista de Jugadores
                </h3>
                <div class="col-xs-2">
                    <button class="btn btn-block btn-primary" ng-click="AddJugadorDiv()">
                        Agregar Jugador
                    </button>
                    <br />
                </div>
            </div>
            <div class="box-body">
                <table class="table">
                    <tr>
                        <th>
                            <b>Id Jugador</b>
                        </th>
                        <th>
                            <b>Nombre</b>
                        </th>
                        <th>
                            <b>Apodo</b>
                        </th>
                        <th>
                            <b>Nacionalidad</b>
                        </th>
                        <th>
                            <b>Estatura</b>
                        </th>
                        <th>
                            <b>Peso</b>
                        </th>
                        <th>
                            <b>Posicion</b>
                        </th>
                        <th>
                            <b>IdEquipo</b>
                        </th>
                        <th style="width: 100px">
                        </th>
                        <th style="width: 100px">
                        </th>
                    </tr>
                    <tr ng-repeat="Jugador in Jugadores">
                        <td>
                            {{Jugador.Id}}
                        </td>
                        <td>
                            {{Jugador.Nombre}}
                        </td>
                        <td>
                            {{Jugador.Apodo}}
                        </td>
                        <td>
                            {{Jugador.Nacionalidad}}
                        </td>
                        <td>
                            {{Jugador.Estatura}}
                        </td>
                        <td>
                            {{Jugador.Peso}}
                        </td>
                        <td>
                            {{Jugador.Posicion}}
                        </td>
                        <td>
                            {{Jugador.IdEquipo}}
                        </td>
                        <td>
                            <button class="btn btn-block btn-primary" ng-click="editJugador(Jugador)">
                                Editar
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-block btn-danger" ng-click="deleteJugador(Jugador)">
                                Eliminar
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div ng-include="'Jugador/CreateEdit'" ng-show="showAddUpdate"></div>
    </div>
</div>
